:root {
    --primary-color: #c22f2d;
    --bg-color: white;
    --text-color: black;
}

.dark {
}

@font-face {
    font-family: noto-sans;
    src: url("./assets/NotoSans-variable.ttf");
}

input {
    background-color: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: noto-sans;
}

button {
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: none;
    color: white;
    border-radius: 4px;
    transition: 0.3s all ease;
    cursor: pointer;
}

.d-flex {
    display: flex;
    gap: 10px;
    width: 100%;

    &.flex-center {
        justify-content: center;
        align-items: center;
    }
}

.button-primary {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);

    &:hover {
        background-color: var(--bg-color);
        color: var(--primary-color);
    }
}

.button-secondary {
    background-color: var(--bg-color);
    border: 1px black solid;
    color: black;

    &:hover {
        background-color: black;
        color: white;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    max-width: 160px;

    & img {
        width: 100%;
    }
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 24px;
}

.search {
    width: 100%;

    & input {
        width: 100%;
        border: none;
        border-bottom: 2px rgba(0, 0, 0, 0.3) solid;
        padding: 10px;
        transition: 0.2s all ease;
    }
}

.search input {
    &::placeholder {
        opacity: 0.7;
        font-size: 0.875rem;
    }

    &:focus {
        outline: none;
        border-bottom: 2px solid black;
    }
}

.movies-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: start;
    gap: 20px;
}

.movie {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    min-height: 250px;

    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        aspect-ratio: 2/3;
        border-radius: 6px;
    }
}

.movie-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background: linear-gradient(180deg, #00000000, black);

    & .movie-name {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
        color: white;
    }

    & .movie-year {
        background-color: rgba(255, 255, 255, 0.2);
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 4px 24px;
        border-radius: 2px;
        backdrop-filter: blur(3px);
        color: white;
    }
}

.sidebar {
    width: 450px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.092);
    transition: 0.3s all ease;

    & .watched-summary {
        background-color: var(--primary-color);
        width: 100%;
        padding: 24px;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    & .watched-movie-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 18px;
    }
}

.sidebar .watched-movie-wrapper .watched-movie {
    width: 100%;
    padding: 18px;
    display: flex;
    gap: 16px;
    align-items: center;
    border-radius: 6px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.089);
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: 0.35s all ease;
    cursor: pointer;
    transform: translateY(-3px);

    & img {
        max-height: 100px;
        width: auto;
    }

    &:hover {
        transform: translateY(0px);
        box-shadow: none;
    }
}
