:root {
    --primary-color: #c22f2d;
    --bg-color: rgb(248, 248, 248);
    --text-color: black;
    --border-color: rgba(0, 0, 0, 0.2);
}

.dark {
    --bg-color: #121212;
    --primary-color: #1a1a1a;
    --text-color: white;
    --border-color: rgba(255, 255, 255, 0.2);
}

@font-face {
    font-family: noto-sans;
    src: url("./assets/NotoSans-variable.ttf");
}

input {
    background-color: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: noto-sans;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.2s ease;
    transition: color 0.2 ease;
}

button {
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: none;
    color: black;
    border-radius: 4px;
    transition: 0.3s all ease;
    cursor: pointer;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);

    &:hover {
        background-color: var(--bg-color);
        color: white;
    }
}

.d-flex {
    display: flex;
    gap: 10px;
    width: 100%;

    &.flex-center {
        justify-content: center;
        align-items: center;
    }
}

.button-primary {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;

    &:hover {
        background-color: var(--bg-color);
        border: 1px solid var(--border-color);

        color: var(--text-color);
    }
}

.button-secondary {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);

    &:hover {
        background-color: var(--bg-color);
        color: var(--text-color);
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.dark-mode {
    width: 62px;
    height: 62px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: end;
    align-items: center;
    position: fixed;
    bottom: 24px;
    left: 24px;
    padding: 3px;
    border-radius: 999px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.144);
    border: 1px solid var(--border-color);
    transition: all 0.3s ease;
    z-index: 999;

    &:hover {
        height: 185px;
    }

    & .switch {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }

    & .active-mode {
        border-radius: 999px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 54px;
        transition: all 0.2s ease;
        background-color: var(--primary-color);
        border: 1px solid var(--border-color);
        padding: 24px;

        &:hover {
            opacity: 0.9;
        }
    }
}

.dark-mode .switch {
    & .light,
    .dark {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 54px;
        cursor: pointer;
        transition: all 0.3s ease;
        border: 1px solid rgba(0, 0, 0, 0);
    }

    & .active {
        background-color: var(--primary-color);
        border: 1px solid var(--border-color);
    }
}

.logo {
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 24px;
}

.search {
    width: 100%;

    & input {
        width: 100%;
        border: none;
        border-bottom: 2px var(--border-color) solid;
        padding: 10px;
        transition: 0.2s all ease;
        opacity: 1;
        color: var(--text-color);
    }
}

.search input {
    &::placeholder {
        opacity: 1;
        font-size: 0.875rem;
        color: var(--border-color);
    }

    &:focus {
        outline: none;
        opacity: 1;
        border-bottom: 2px solid var(--text-color);
    }
}

.movies-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: start;
    gap: 20px;
}

.movie {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    min-height: 250px;
    display: flex;
    align-items: stretch;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: translateY(-4px);
    }

    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        aspect-ratio: 2/3;
        border-radius: 6px;
    }
}

.movie-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background: linear-gradient(180deg, #00000000, black);

    & .movie-name {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
        color: white;
    }

    & .movie-year {
        background-color: rgba(255, 255, 255, 0.2);
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 4px 24px;
        border-radius: 2px;
        backdrop-filter: blur(3px);
        color: white;
    }
}

.sidebar {
    width: 450px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    background-color: var(--bg-color);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.092);
    transition: 0.3s all ease;
    padding-bottom: 32px;

    & .watched-summary {
        background-color: var(--primary-color);
        width: 100%;
        padding: 24px;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    & .watched-movie-wrapper {
        max-height: 81%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 18px;
        overflow-y: auto;
        position: relative;
    }

    & .sidebar-close {
        position: absolute;
        bottom: 24px;
        left: 24px;
        width: 90%;
    }
}

.sidebar .watched-movie-wrapper .watched-movie {
    width: 100%;
    padding: 14px;
    display: flex;
    gap: 16px;
    align-items: center;
    border-radius: 6px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.089);
    border: 1px solid var(--border-color);
    transition: 0.35s all ease;
    cursor: pointer;
    transform: translateY(-3px);

    & img {
        max-height: 130px;
        width: auto;
        border-radius: 4px;
    }

    &:hover {
        transform: translateY(0px);
        box-shadow: none;
    }
}
